*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: none;
}

body{
    background-color: black;
    height: 100%;
    
    
    }


.container{
  
  height:100%;  
  max-width: 550px ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #fff;
  
 

}

.font{
color:#000000;
font-size: 18px;
    
   
    
}

a{
    text-decoration: none;
    color: #fff;

}
.degrade{
    background: linear-gradient rgb(239, 235, 235);
    transition: .2s;
    padding: 25px;
    transition: .2s;
    border-radius: 100px;
    box-shadow: 0 0 8px black;
   
    
}


header{
  text-align: center; 
  margin-bottom: 40px; 
}

header img{
    max-width: 150px;
    border-radius:50%;
   
    
}

header h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color:  rgb(255, 255, 255);
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.botoes-links{
    
    
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 50px;
    
    
    
    
}

.p{

font-size: 15px;
color: rgb(255, 255, 255);   
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-weight: 300;

}


a.link button{
    
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
    color: #000000;
    text-decoration: none;

   }



button.degrade button:hover, section button.degrade:hover{
    transform: scale(1.05);
    box-shadow: #2c2a2a;
   
}


a.link button:hover, footer a.cabecalho:hover{
    transform: scale(1.05);
    color: rgb(170, 37, 177);
    box-shadow: #2c2a2a;
    background-color: #6f6161;
}




footer{
    text-align: center;
    margin: 10px;

}

footer a.cabecalho{
    width: 65px;
    height: 65px;
    display: inline-block;
    font-size: 25px;
    line-height: 60px;
    border-radius: 100%;
    margin: 5px;
    margin-top: 1px;
    transition: .2s;
    background: #fff;
    background: linear-gradient(white);
    display: flex;
    text-align: center;
    align-items: centr;
    justify-content: center;
    height: 100%;  
    margin: auto;
    color: black;
    box-shadow: 0 0 8px black;
  
   
}

